<div class="container p_tb_85 acc_card">
    <h6 class="page_title">My Account</h6>
    <div class="wow fadeInUp" data-wow-duration="800ms">
        <div class="card">
            <div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
                <p class="alertMsg">{{successMsg}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="errMsg" class="alert alert-danger alert-dismissible fade show" role="alert">
                <p class="alertMsg">{{errMsg}}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            
            <div class="card-header">Profile Info</div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username</span>
                    </div>
                    <input type="text" class="form-control col-sm-6" value="{{username}}" placeholder="Name" [(ngModel)]="username">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email </span>
                    </div>
                    <input type="text" class="form-control col-sm-6" value="{{email}}" placeholder="email" [(ngModel)]="email">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Password </span>
                    </div>
                    <input type="password" class="form-control col-sm-6" placeholder="Password" [(ngModel)]="password">
                </div>  
            </div> 
        </div>
        <div class="card">
            <div class="card-header">Settings</div>
            <div class="card-body">
                <div class="custom-control custom-switch">
                    <input [checked]="check" [(ngModel)]="checked"  name="emailreminder"
                    (change)="isAnswerProvided($event)" type="checkbox" class="custom-control-input" id="switch1">
                    <label class="custom-control-label" for="switch1">Enable 'Submit timecard' remainder ?</label>
                </div>
            </div>
        </div>  
        <div class="card">
            <div class="card-header">Helpful Links</div>
            <div class="card-body p-custom">
                <p>https://www.dotsitsolutions.com/</p>
                <p>https://www.dotsitsolutions.com/</p>
                <p>https://www.dotsitsolutions.com/</p>
            </div>
        </div>    
    </div>
</div>