@import url('~@angular/material/prebuilt-themes/indigo-pink.css');

body {
    font-family: 'Roboto',sans-serif;
    background: #eef2f6;
    overflow-x: hidden;
    font-size: 14px;
}
.login_bg {
    background: url(assets/images/loginbg.jpg);
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.login_card {
    background: white;
    box-shadow: 3px 7px 10px #96969626;
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 25px;
    border-radius: 4px;
}
.login_title {
    font-size: 25px;
    font-weight: 700;
    padding: 16px 0px 12px 0px;
}
.log_btn {
    background-image: linear-gradient(to right,#00c4ff 0%,#2c5ff0 51%,#2c5ff0 100%);
    padding: 0px 43px!important;
    border-radius: 25px!important;
    margin: 15px 0px 15px 10px!important;
}
.donthave_ac {
    color: #36affc;
}

.alertMsg {
    font-size: 15px;
    text-align: center;
}

.p_l_15 {
    padding-left: 15px;
}
.p_t_15 {
    padding-top: 15px;
}
.f_13 {
    font-size: 13px;
}
.cursor_pointer {
    cursor: pointer;
}
.p_tb_85 {
    padding: 85px 0px 35px 0px;
}
.jobtitle {
    background: #c9e8ff;
    padding: 12px 12px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.job-explination {
    background: none;
    padding: 3px 12px;
    font-size: 13px;
}
.contact_title {
    background: #c9e8ff;
    padding: 12px 12px;
    font-weight: 700;
    font-size: 14px;
}
.contact_title_normal {
    padding-top: 12px;
    padding-left: 12px;
    font-weight: 700;
    font-size: 14px;
}
.p_l_235 {
    padding-left: 100px;
    padding-top: 56px;
}
.job_detailcard {
    background-color: #fff;
    margin-top: 12px;
    padding-bottom: 1px;
}
.jobdetail_inner_card {
    margin: 15px 10px;
    cursor: pointer;
    font-size: 13px;
    background: #ffffff;
    padding: 8px 11px;
    // box-shadow: 0px 1px 3px #00000040;
    p {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 13px;
    }
}
.top_menu {
    background-color: #0097e6!important;
    // background-color: #a50031!important;
}
.profilename {
    font-size: 14px;
    font-weight: 500;
    padding-right: 10px;
}
.userlogo {
    width: 30px;
    border-radius: 50%;
}
.comment_btn {
    position: absolute;
    color: #a9a9a9;
    margin-top: 6px;
}

.manager_comment_btn {
    position: absolute;
    color: #a9a9a9;
}

.tracktable_title {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding: 10px 0px;
}
.border_white {
    border: 1px solid #fff;
}
.input_box50 {
    width: 50%;
    float: left;
    margin-right: 5px;
}
.table-striped tbody tr:nth-of-type(odd) {
    .border_white {
        border: 1px solid #f2f2f2;
        background: #f2f2f2;
    }
}
// ======================================Animation Code Part Here===============
.pulse-button {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    box-shadow: 0 0 0 0 rgba(232,76,61,0.7);
    border-radius: 50%;
    background-color: #e84c3d;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66,0,0,1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66,0,0,1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66,0,0,1);
    animation: pulse 1.25s infinite cubic-bezier(0.66,0,0,1);
}
.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}
@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 15px rgba(232,76,61,0);
    }
}
@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 15px rgba(232,76,61,0);
    }
}
@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 15px rgba(232,76,61,0);
    }
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 15px rgba(232,76,61,0);
    }
}
// My Account Card
.acc_card {
    .page_title {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .card {
        margin: 0 auto 20px;
        border-radius: 0;
        .input-group-text {
            width: 126px;
            border-radius: 0px;
            font-size: 15px;
            background: transparent;
            border: none;
            font-weight: 600;
            margin-right: 5px;
        }
        .form-control {
            border-radius: 0px;
        }
        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: #c9e8fe;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(201,232,254,0.75);
        }
        //
        .custom-control-input:not(:disabled):active~.custom-control-label::before {
            color: #fff;
            background-color: #4CAF50;
            border-color: #4CAF50;
        }
        .custom-control-input:checked~.custom-control-label::before {
            color: #fff;
            border-color: #4CAF50;
            background-color: #4CAF50;
        }
        .card-header {
            padding: 5px 1.25rem;
            font-weight: 600;
            margin-bottom: 0;
            background-color: rgb(201,232,254);
            border-bottom: 1px solid rgb(201,232,254);
        }
        .p-custom {
            p {
                font-size: 14px;
                font-weight: 600;
                color: blue;
            }
        }
    }
}
// Navbar Dropdown
.custom-drop {
    .dropdown-menu {
        left: -32px;
        min-width: 8rem;
    }
}

.hide-comment {
    display: none;
}

.modal-input {
    padding: 0px 20px;
    margin: 0px;
    width: 100%;
    border: none;
    outline: none;
}
.manager-hours {
    width: 50%;
    float: left;
}

.log-hours {
    font-weight: bold;
}